$default-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25) inset;

.filters {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
}

.textFilter__label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.textFilter__input {
  padding: 9px 13px;
  border-radius: 5px;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: $default-box-shadow;
  height: 36px;
  font-size: 15px;
  min-width: 400px;
  margin-right: 36px;
  margin-bottom: 10px;
}

.textFilter {
  position: relative;
}

.filtersReset {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 42px;
  top: 2.4rem;
  z-index: 100;
  text-indent: -10000px;

  background-image: url('/icon-cross.svg');
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
}

.filters__select {
  border-radius: 5px;
  padding: 9px 13px;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: $default-box-shadow;
  height: 36px;
  font-size: 15px;
  min-width: 400px;
  margin-right: 36px;
}

.sortingFilter {
  margin-right: 32px;
}

.sortingFilter__link_active,
.unitsSelector__link_active {
  text-decoration: underline;
}

.separator {
  padding: 0 5px;
}